<!-- inject the logged in user info into the page -->
<%= content_tag :div, id: "vegas",
  data: [id: @current_user.id, name: @current_user.username] do %>
<% end %>

<div id="elm-container"></div>

<!-- <script src="<%= static_path(@conn, "/js/table.js") %>"></script> -->
